
body {
    background: linear-gradient(155deg, #051923, #0F4C6B, #1773A1);
}

.header {
    padding: 1.5rem;
}

.quote_container {
    padding: 1.5rem;
    width: 600px;
    margin: 0 auto 0 15%;
    text-align: center;
    /*background-color: #008BCC;*/
    background-color: #212122;
    border: 2px solid #0AB1FF;
    border-radius: 20px;
}

.alegreya-sc-regular {
  font-family: "Alegreya SC", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    text-decoration: underline;
    color: #EFF6E0;
    font-family: "Alegreya SC", serif;
    font-size: 35px;
}

h2 {
    color: #F7FAEF;
    font-family: "Alegreya SC", serif;
    font-size: 28px;
}

p {
    color: #0066B5;
    font-size: 20px;
}