
body {
    background: linear-gradient(155deg, #051923, #0F4C6B, #1773A1);
}

.header {
    padding: 1.5rem;
}

.quote_container {
    padding: 1.5rem;
    width: 45%;
    margin: 0 auto;
    text-align: center;
    background-color: #2b374a;
    border: 2px solid #384457;
    border-radius: 20px;
}

.quote_header_container {
    padding: 1.5rem;
    width: 600px;
    margin: 0 auto 0 15%;
    text-align: center;
}

.alegreya-sc-regular {
  font-family: "Alegreya SC", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    text-decoration: underline;
    color: #d6d6d6;
    font-family: "Alegreya SC", serif;
    font-size: 35px;
}

h2 {
    color: #56b2d6;
    font-family: "Alegreya SC", serif;
    font-size: 28px;
}

p {
    color: #f2f2f2;
    font-size: 20px;
}

i {
    color: #999999;
}